.container {
  display: grid;
  grid-template-areas:
    "header sorterArea"
    "aside sorterArea";
  grid-template-columns: 1fr 1fr;
  margin-top: clamp(3.09rem, 5vw, 5.78rem);
  column-gap: 6.75rem;

  & header {
    grid-area: header;
    width: 31.25rem;
  }

  aside {
    grid-area: aside;
  }

  .sorterArea {
    grid-area: sorterArea;
    display: flex;
    flex-direction: column;
    max-width: 100%;

    .form {
      display: initial;
    }

    & h3 {
      font: var(--label-md);
    }

    & p {
      font-family: var(--ff-roboto-flex);
      font-size: clamp(0.875rem, 2vw, 1rem);
      font-weight: 500;
      line-height: 150%;
      margin-block: 0.12rem 2.5rem;
      color: var(--content-secondary);
    }

    .number-sorters {
      text-align: center;
      display: none;
      flex-direction: column;
      gap: 2.5rem;

      & .title-sorter {
        margin-top: 3.69rem;
        text-align: center;
        justify-content: center;

        & h2 {
          font: var(--label-md);
          color: var(--content-primary);
          text-transform: uppercase;
        }

        & p {
          font: var(--overline);
          text-transform: uppercase;
          margin: 0;
        }
      }

      & .draw-numbers-container {
        display: flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 0.25rem;

        font-family: "Roboto Mono";
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 4.5rem */
        text-transform: uppercase;

        color: var(--background-primary);
      }

      & .number-container {
        opacity: 0;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;

        width: 6.25rem;
        height: 6.25rem;
        padding: 1.125rem 1.375rem;
        border-radius: 1.75rem;

        position: absolute;
        transition: opacity 1s ease, transform 0.1s ease;
        animation: appearNumber 0.7s 0.3s linear forwards,
          rotateNumberContainer 2s 0.5s linear forwards,
          disappearNumberContainer 0.4s 2.6s linear forwards;

        position: relative;
        z-index: 1;
        background: var(--content-brand);

        & span {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 100%;
          height: 100%;
          position: static;
          animation: noRotateNumberContainer 2s 0.5s linear forwards,
            changeNumber 0.4s 3.5s linear forwards;
        }
      }
    }
  }

  .questions {
    display: flex;
    max-width: 24.125rem;
    flex-direction: column;
    gap: 2.25rem;
    & .items {
      display: flex;
      align-items: flex-start;

      & img {
        width: 1.25rem;
        height: 1.25rem;
        margin-right: 0.5rem;
      }

      & span {
        font: var(--text-md);
        color: var(--content-brand);
      }

      & p {
        font: var(--text-sm);
        color: var(--content-secondary);
      }
    }
  }
}

@media (width <= 768px) {
  .container {
    grid-template-areas:
      "header"
      "sorterArea"
      "aside";
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr 1fr;
    max-width: 390px;

    & aside .questions {
      margin-top: 5rem;
      max-width: 18.1rem;
    }

    & .sorterArea {
      max-width: 18.1rem;
    }
  }
}

@keyframes appearNumber {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes changeNumber {
  95% {
    font: 700 4rem/150% var(-ff-roboto-mono);
    color: var(--content-brand);
    opacity: 1;
  }
  100% {
    width: 5.25rem;
    font: 700 3rem/150% var(-ff-roboto-mono);
    color: var(--content-brand);
    opacity: 1;
  }
}

@keyframes disappearNumberContainer {
  100% {
    scale: 0.9;
    background: transparent;
  }
}

@keyframes scaleNumberContainer {
  /* from {
    transform: scale(0);
  } */
  to {
    transform: scale(1);
  }
}

@keyframes rotateNumberContainer {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(18deg);
  }
  20% {
    transform: rotate(36deg);
  }
  30% {
    transform: rotate(54deg);
  }
  40% {
    transform: rotate(72deg);
  }
  50% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(108deg);
  }
  70% {
    transform: rotate(126deg);
  }
  80% {
    transform: rotate(144deg);
  }
  90% {
    transform: rotate(162deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes noRotateNumberContainer {
  10% {
    transform: rotate(-18deg);
  }
  20% {
    transform: rotate(-36deg);
  }
  30% {
    transform: rotate(-54deg);
  }
  40% {
    transform: rotate(-72deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  60% {
    transform: rotate(-108deg);
  }
  70% {
    transform: rotate(-126deg);
  }
  80% {
    transform: rotate(-144deg);
  }
  90% {
    transform: rotate(-162deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
